In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('final_ALL_expert_public.csv')
print(df.shape,'\n')
print(df.columns,'\n')
print(df.info(),'\n')

(10000, 10)

Index(['book_id', 'title', 'author', 'publication_year', 'average_rating',
       'ratings_count', 'public_sentiment', 'public_influence',
       'expert_review', 'public_review'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           10000 non-null  int64
 1   title             10000 non-null  object
 2   author            10000 non-null  int64
 3   publication_year  7796 non-null   float64
 4   average_rating    10000 non-null  float64
 5   ratings_count     10000 non-null  int64
 6   public_sentiment  10000 non-null  float64
 7   public_influence  10000 non-null  float64
 8   expert_review     10000 non-null  object
 9   public_review     10000 non-null  object
dtypes: float64(4), int64(3), object(3)
memory usage: 781.4+ KB
None

<bound method NDFrame.head of        book_id                                 title   author  \
0     18930889  Spook: Science Tackles the Afterlife     7956
1      1573214                     Wuthering Heights     4191
2     29794446                The Martian Chronicles     1630
3     17789021                       Charlotte's Web   988142
4     10969818                                Alaska  4759585
...        ...                                   ...      ...
9995   2880896                         The Moonstone     4012
9996   1045135  The Lion, the Witch and the Wardrobe  1069006
9997  17930789                  The Art of Happiness   114041
9998   9931985                            The Chosen  4515588
9999    120329                              Antigone     5228

      publication_year  average_rating  ratings_count  public_sentiment  \
0                  NaN            3.57            350          2.888889
1               1983.0            3.83             30          3.300000
2                  NaN            4.12              1          1.000000
3               2013.0            4.15             16          1.000000
4                  NaN            3.00              1          0.000000
...                ...             ...            ...               ...
9995               NaN            3.90              2          2.777778
9996               NaN            4.19             68          2.500000
9997               NaN            3.93             10          2.687500
9998            2010.0            3.82             43          2.408163
9999            2010.0            3.80             53          1.000000

      public_influence                                      expert_review  \
0             4.454347  People frequently confuse a breezy style, humo...
1             2.944439  Published in 1847, WUTHERING HEIGHTS was not w...
2             1.609438  This book clearly deserves more than five star...
3             1.609438  &quot;Charlotte's Web,&quot; by E.B. White, be...
4             1.098612  Author James A. Michener has conceived and wri...
...                ...                                                ...
9995          2.772589  As many reviewers have noted, T.S. Eliot calle...
9996          1.386294  HarperAudio has produced a exciting, unabridge...
9997          4.430817  The big disappointment here is that there is v...
9998          4.510860  This novel is suited for just about anybody re...
9999          1.386294  Researching translations is never an easy task...

                                          public_review
0     With a title like Spook: Science Tackles the A...
1     One of my favorite class reads. This love stor...
2     In August of 1945 the power of the atom was un...
3     Charlotte in the story, proves her loyalty to ...
4     Starting all the way back before Alaska was fu...
...                                                 ...
9995  THE MOONSTONE is Collins's most compulsively r...
9996  I bought this book for a friend's daughter as ...
9997  At first the Dalai Lama seems simplistic - but...
9998  From the very first page, this story grabbed m...
9999  AntigoneAntigone was a very good play. I did e...

[10000 rows x 10 columns]>

In [3]:
df.head()

,book_id,title,author,publication_year,average_rating,ratings_count,public_sentiment,public_influence,expert_review,public_review
0,18930889,Spook: Science Tackles the Afterlife,7956,NaN,3.57,350,2.888889,4.454347,"People frequently confuse a breezy style, humo...",With a title like Spook: Science Tackles the A...
1,1573214,Wuthering Heights,4191,1983.0,3.83,30,3.300000,2.944439,"Published in 1847, WUTHERING HEIGHTS was not w...",One of my favorite class reads. This love stor...
2,29794446,The Martian Chronicles,1630,NaN,4.12,1,1.000000,1.609438,This book clearly deserves more than five star...,In August of 1945 the power of the atom was un...
3,17789021,Charlotte's Web,988142,2013.0,4.15,16,1.000000,1.609438,"&quot;Charlotte's Web,&quot; by E.B. White, be...","Charlotte in the story, proves her loyalty to ..."
4,10969818,Alaska,4759585,NaN,3.00,1,0.000000,1.098612,Author James A. Michener has conceived and wri...,Starting all the way back before Alaska was fu...