In [4]:
import pandas as pd
import numpy as np

In [5]:
duyet = pd.read_csv('Labeled/silver_2_Duyet.csv')
khang = pd.read_csv('Labeled/silver_2_Khang.csv')
kiet = pd.read_csv('Labeled/silver_2_Kiet.csv')

In [6]:
df = pd.concat([duyet,khang,kiet],ignore_index=True)

In [7]:
df.shape

(2100, 26)

In [8]:
df.columns

Index(['Unnamed: 0', 'title', 'author', 'year', 'publication_year',
       'description', 'Genre', 'Author_Rating', 'total_weeks', 'best_rank',
       'worst_rank', 'mean_rank', 'debut_rank', 'average_rating',
       'ratings_count', 'rating', 'review_text', 'n_votes', 'is_expert',
       'Units_Sold', 'Gross_Sales', 'Sale_Price', 'Sales_Rank',
       'Commercial_success', 'Popular_success', 'Critical_success'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2100 entries, 0 to 2099
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          2100 non-null   int64
 1   title               2100 non-null   object
 2   author              2100 non-null   object
 3   year                2100 non-null   int64
 4   publication_year    2100 non-null   int64
 5   description         2058 non-null   object
 6   Genre               2100 non-null   object
 7   Author_Rating       2100 non-null   object
 8   total_weeks         2100 non-null   int64
 9   best_rank           2100 non-null   int64
 10  worst_rank          2100 non-null   int64
 11  mean_rank           2100 non-null   float64
 12  debut_rank          2100 non-null   int64
 13  average_rating      2100 non-null   float64
 14  ratings_count       2100 non-null   int64
 15  rating              2100 non-null   float64
 16  review_text         2100 non-null   object
 17  n_votes             2100 non-null   float64
 18  is_expert           2100 non-null   int64
 19  Units_Sold          2100 non-null   int64
 20  Gross_Sales         2100 non-null   float64
 21  Sale_Price          2100 non-null   float64
 22  Sales_Rank          2100 non-null   int64
 23  Commercial_success  2100 non-null   int64
 24  Popular_success     2100 non-null   int64
 25  Critical_success    2100 non-null   int64
dtypes: float64(6), int64(14), object(6)
memory usage: 426.7+ KB

In [10]:
df.drop(columns='Unnamed: 0', inplace = True)
df.dropna(how='any', subset = 'description', inplace = True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2058 entries, 0 to 2099
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               2058 non-null   object
 1   author              2058 non-null   object
 2   year                2058 non-null   int64
 3   publication_year    2058 non-null   int64
 4   description         2058 non-null   object
 5   Genre               2058 non-null   object
 6   Author_Rating       2058 non-null   object
 7   total_weeks         2058 non-null   int64
 8   best_rank           2058 non-null   int64
 9   worst_rank          2058 non-null   int64
 10  mean_rank           2058 non-null   float64
 11  debut_rank          2058 non-null   int64
 12  average_rating      2058 non-null   float64
 13  ratings_count       2058 non-null   int64
 14  rating              2058 non-null   float64
 15  review_text         2058 non-null   object
 16  n_votes             2058 non-null   float64
 17  is_expert           2058 non-null   int64
 18  Units_Sold          2058 non-null   int64
 19  Gross_Sales         2058 non-null   float64
 20  Sale_Price          2058 non-null   float64
 21  Sales_Rank          2058 non-null   int64
 22  Commercial_success  2058 non-null   int64
 23  Popular_success     2058 non-null   int64
 24  Critical_success    2058 non-null   int64
dtypes: float64(6), int64(13), object(6)
memory usage: 418.0+ KB

In [12]:
df.to_csv(r'/home/check/DATA/university/yr3, hk1/DS102 - ML for Statistic/Đồ án/goodread/DS102/DATA/gold/gold_1.csv')