In [34]:
import pandas as pd
import numpy as np

In [35]:
root_path = r"/home/check/DATA/university/yr3, hk1/DS102 - ML for Statistic/Đồ án/goodread/DS102"

In [36]:
df = pd.read_csv(root_path + '/DATA/silver/silver_1.csv')

In [37]:
df.columns

Index(['title', 'author', 'year', 'total_weeks', 'first_week', 'debut_rank',
       'best_rank', 'week', 'rank', 'Author_Rating', 'Genre', 'Gross_Sales',
       'Publisher_Revenue', 'Sale_Price', 'Sales_Rank', 'Units_Sold',
       'publication_year', 'average_rating', 'ratings_count', 'description',
       'rating', 'review_text', 'n_votes', 'date_added'],
      dtype='object')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2133244 entries, 0 to 2133243
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   title              object
 1   author             object
 2   year               int64
 3   total_weeks        int64
 4   first_week         object
 5   debut_rank         int64
 6   best_rank          int64
 7   week               object
 8   rank               int64
 9   Author_Rating      object
 10  Genre              object
 11  Gross_Sales        float64
 12  Publisher_Revenue  float64
 13  Sale_Price         float64
 14  Sales_Rank         int64
 15  Units_Sold         int64
 16  publication_year   int64
 17  average_rating     float64
 18  ratings_count      int64
 19  description        object
 20  rating             float64
 21  review_text        object
 22  n_votes            float64
 23  date_added         object
dtypes: float64(6), int64(9), object(9)
memory usage: 390.6+ MB

In [39]:
df.describe()

,year,total_weeks,debut_rank,best_rank,rank,Gross_Sales,Publisher_Revenue,Sale_Price,Sales_Rank,Units_Sold,publication_year,average_rating,ratings_count,rating,n_votes
count,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06
mean,1.999959e+03,2.212072e+01,8.211611e+00,2.934313e+00,7.236687e+00,4.775105e+03,2.463579e+03,4.480116e+00,5.254829e+02,8.432157e+03,2.006966e+03,3.819487e+00,7.390078e+04,3.627548e+00,1.053304e+00
std,1.718807e+01,1.757615e+01,4.255281e+00,3.078161e+00,4.551340e+00,1.174413e+04,7.089159e+03,3.220638e+00,4.005812e+02,1.508188e+04,9.066907e+00,2.922784e-01,4.983289e+04,1.282155e+00,9.320169e+00
min,1.932000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.049400e+02,0.000000e+00,9.900000e-01,1.000000e+00,1.060000e+02,1.880000e+03,0.000000e+00,0.000000e+00,0.000000e+00,-2.000000e+00
25%,1.986000e+03,9.000000e+00,4.000000e+00,1.000000e+00,3.000000e+00,4.138200e+02,0.000000e+00,9.900000e-01,2.020000e+02,4.180000e+02,2.002000e+03,3.650000e+00,1.513000e+04,3.000000e+00,0.000000e+00
50%,2.006000e+03,1.800000e+01,8.000000e+00,1.000000e+00,7.000000e+00,8.167500e+02,1.937520e+02,3.990000e+00,4.760000e+02,2.800000e+03,2.010000e+03,3.850000e+00,8.165200e+04,4.000000e+00,0.000000e+00
75%,2.013000e+03,3.300000e+01,1.100000e+01,4.000000e+00,1.100000e+01,1.850700e+03,8.080560e+02,6.990000e+00,8.230000e+02,5.427000e+03,2.014000e+03,4.030000e+00,1.113010e+05,5.000000e+00,0.000000e+00
max,2.020000e+03,1.650000e+02,1.600000e+01,1.600000e+01,1.700000e+01,4.779500e+04,2.867700e+04,1.798000e+01,1.272000e+03,5.896800e+04,2.102000e+03,5.000000e+00,1.753180e+05,5.000000e+00,1.041000e+03

In [40]:
genre_mapping = {
    'genre fiction': 'Fiction',
    'fiction': 'Fiction',
    'nonfiction': 'Nonfiction',
    'children': 'Children'
}

df['Genre_clean'] = df['Genre'].map(genre_mapping)

df['Genre'] = df['Genre_clean']
df.drop(columns=['Genre_clean'], inplace=True)

In [41]:
df['Genre'].unique()

array(['Fiction', 'Nonfiction', 'Children'], dtype=object)

In [42]:
df.drop(columns='Publisher_Revenue')

,title,author,year,total_weeks,first_week,debut_rank,best_rank,week,rank,Author_Rating,...,Sales_Rank,Units_Sold,publication_year,average_rating,ratings_count,description,rating,review_text,n_votes,date_added
0,Chasing Harry Winston,Lauren Weisberger,2008,11,2008-06-15,5,4,2008-06-15,6,Novice,...,1042,4440,2008,3.32,56,"Meet Emmy, Leigh, and Adriana. Best friends si...",5.0,Great easy read! I loved how it referenced pop...,0.0,2008-10-11 17:42:40-07:00
1,Chasing Harry Winston,Lauren Weisberger,2008,11,2008-06-15,5,4,2008-06-15,6,Novice,...,1042,4440,2008,3.32,56,"Meet Emmy, Leigh, and Adriana. Best friends si...",3.0,"Fun read (or rather, listen). I really liked t...",0.0,2010-01-26 23:48:19-08:00
2,Chasing Harry Winston,Lauren Weisberger,2008,11,2008-06-15,5,4,2008-06-15,6,Novice,...,1042,4440,2008,3.32,56,"Meet Emmy, Leigh, and Adriana. Best friends si...",3.0,o.k.,0.0,2009-07-21 23:35:10-07:00
3,Chasing Harry Winston,Lauren Weisberger,2008,11,2008-06-15,5,4,2008-06-15,6,Novice,...,1042,4440,2008,3.32,56,"Meet Emmy, Leigh, and Adriana. Best friends si...",3.0,Leigh and Emmy were pretty boring all by thems...,0.0,2009-04-15 15:12:10-07:00
4,Chasing Harry Winston,Lauren Weisberger,2008,11,2008-06-15,5,4,2008-06-15,6,Novice,...,1042,4440,2008,3.32,56,"Meet Emmy, Leigh, and Adriana. Best friends si...",3.0,"Better than Everyone Worth Knowing, but still ...",0.0,2009-05-18 20:22:57-07:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2133239,Change Of Heart,Jodi Picoult,2008,8,2008-03-23,9,1,2008-05-11,16,Intermediate,...,634,3915,2015,3.50,1,"Vickie wants spice in her life, but her husban...",1.0,Sigh. I'm an avid lover of all things steampun...,0.0,2016-02-17 11:33:21-08:00
2133240,Change Of Heart,Jodi Picoult,2008,8,2008-03-23,9,1,2008-05-11,16,Intermediate,...,634,3915,2011,4.52,128,Millions of adoring fans. Loving and devoted p...,3.0,"When you start reading Change Of Heart, there'...",0.0,2011-10-19 11:00:40-07:00
2133241,Change Of Heart,Jodi Picoult,2008,8,2008-03-23,9,1,2008-05-11,16,Intermediate,...,634,3915,2011,4.52,128,Millions of adoring fans. Loving and devoted p...,5.0,The characters were very refreshing & the stor...,0.0,2012-04-07 03:21:43-07:00
2133242,Change Of Heart,Jodi Picoult,2008,8,2008-03-23,9,1,2008-05-11,16,Intermediate,...,634,3915,2011,4.52,128,Millions of adoring fans. Loving and devoted p...,4.0,First book I read on my kindle and I remembere...,0.0,2013-08-07 16:02:14-07:00
2133243,Change Of Heart,Jodi Picoult,2008,8,2008-03-23,9,1,2008-05-11,16,Intermediate,...,634,3915,2011,4.52,128,Millions of adoring fans. Loving and devoted p...,5.0,"Move over Dickey, Jackie Chanel is coming for ...",1.0,2011-07-17 22:02:48-07:00

In [43]:
df.shape

(2133244, 24)

In [44]:
book_level = df.groupby(['title', 'author']).agg(      
    worst_rank=('rank', 'max'),        
    mean_rank=('rank', 'mean'),        
    total_weeks=('total_weeks', 'max'),
    Units_Sold=('Units_Sold', 'sum'),
    Gross_Sales=('Gross_Sales', 'sum'),
    average_rating=('average_rating', 'mean'),
    ratings_count=('ratings_count', 'mean'),              
).reset_index()

In [45]:
book_level.head()

,title,author,worst_rank,mean_rank,total_weeks,Units_Sold,Gross_Sales,average_rating,ratings_count
0,2Nd Chance,James Patterson with Andrew Gross,14,5.0000,8,22896,11110.16,4.0100,4.00
1,A Bend In The Road,Nicholas Sparks,16,9.4500,20,27200,54128.00,4.0200,23.00
2,A Breath Of Snow And Ashes,Diana Gabaldon,14,6.8000,5,22140,8733.00,4.4300,12.00
3,A Crown Of Swords,Robert Jordan,15,7.7500,8,1728000,4403.52,4.0100,91.00
4,A Death In The Family,James Agee,16,13.6875,16,777600,4782240.00,3.9529,6900.55

In [46]:
df_merged = df.merge(book_level, on=['title', 'author'], how='left', suffixes=('', '_agg'))

In [47]:
df_merged.columns

Index(['title', 'author', 'year', 'total_weeks', 'first_week', 'debut_rank',
       'best_rank', 'week', 'rank', 'Author_Rating', 'Genre', 'Gross_Sales',
       'Publisher_Revenue', 'Sale_Price', 'Sales_Rank', 'Units_Sold',
       'publication_year', 'average_rating', 'ratings_count', 'description',
       'rating', 'review_text', 'n_votes', 'date_added', 'worst_rank',
       'mean_rank', 'total_weeks_agg', 'Units_Sold_agg', 'Gross_Sales_agg',
       'average_rating_agg', 'ratings_count_agg'],
      dtype='object')

In [48]:
columns_to_replace = [
    'rank',  
    'week',
    'first_week',
    'date_added',         
    'total_weeks',      
    'Units_Sold',       
    'Gross_Sales',     
    'average_rating',    
    'ratings_count',   
]
df_merged.drop(columns=columns_to_replace, inplace=True, errors='ignore')

In [49]:
agg_cols_with_suffix = [col for col in df_merged.columns if col.endswith('_agg')]
rename_dict = {col: col.replace('_agg', '') for col in agg_cols_with_suffix}
df_merged.rename(columns=rename_dict, inplace=True)

In [50]:
df_merged.shape

(2133244, 22)

In [51]:
df_merged.head()

,title,author,year,debut_rank,best_rank,Author_Rating,Genre,Publisher_Revenue,Sale_Price,Sales_Rank,...,rating,review_text,n_votes,worst_rank,mean_rank,total_weeks,Units_Sold,Gross_Sales,average_rating,ratings_count
0,Chasing Harry Winston,Lauren Weisberger,2008,5,4,Novice,Fiction,335.328,4.99,1042,...,5.0,Great easy read! I loved how it referenced pop...,0.0,13,8.727273,11,1953600,245907.2,3.32,282.05
1,Chasing Harry Winston,Lauren Weisberger,2008,5,4,Novice,Fiction,335.328,4.99,1042,...,3.0,"Fun read (or rather, listen). I really liked t...",0.0,13,8.727273,11,1953600,245907.2,3.32,282.05
2,Chasing Harry Winston,Lauren Weisberger,2008,5,4,Novice,Fiction,335.328,4.99,1042,...,3.0,o.k.,0.0,13,8.727273,11,1953600,245907.2,3.32,282.05
3,Chasing Harry Winston,Lauren Weisberger,2008,5,4,Novice,Fiction,335.328,4.99,1042,...,3.0,Leigh and Emmy were pretty boring all by thems...,0.0,13,8.727273,11,1953600,245907.2,3.32,282.05
4,Chasing Harry Winston,Lauren Weisberger,2008,5,4,Novice,Fiction,335.328,4.99,1042,...,3.0,"Better than Everyone Worth Knowing, but still ...",0.0,13,8.727273,11,1953600,245907.2,3.32,282.05

In [52]:
df_merged.columns

Index(['title', 'author', 'year', 'debut_rank', 'best_rank', 'Author_Rating',
       'Genre', 'Publisher_Revenue', 'Sale_Price', 'Sales_Rank',
       'publication_year', 'description', 'rating', 'review_text', 'n_votes',
       'worst_rank', 'mean_rank', 'total_weeks', 'Units_Sold', 'Gross_Sales',
       'average_rating', 'ratings_count'],
      dtype='object')

In [53]:
df_merged['is_expert'] = df_merged.groupby('Genre')['n_votes'].transform(lambda x: (x >= x.quantile(0.90)).astype(int))

In [54]:
df_merged.head()

,title,author,year,debut_rank,best_rank,Author_Rating,Genre,Publisher_Revenue,Sale_Price,Sales_Rank,...,review_text,n_votes,worst_rank,mean_rank,total_weeks,Units_Sold,Gross_Sales,average_rating,ratings_count,is_expert
0,Chasing Harry Winston,Lauren Weisberger,2008,5,4,Novice,Fiction,335.328,4.99,1042,...,Great easy read! I loved how it referenced pop...,0.0,13,8.727273,11,1953600,245907.2,3.32,282.05,0
1,Chasing Harry Winston,Lauren Weisberger,2008,5,4,Novice,Fiction,335.328,4.99,1042,...,"Fun read (or rather, listen). I really liked t...",0.0,13,8.727273,11,1953600,245907.2,3.32,282.05,0
2,Chasing Harry Winston,Lauren Weisberger,2008,5,4,Novice,Fiction,335.328,4.99,1042,...,o.k.,0.0,13,8.727273,11,1953600,245907.2,3.32,282.05,0
3,Chasing Harry Winston,Lauren Weisberger,2008,5,4,Novice,Fiction,335.328,4.99,1042,...,Leigh and Emmy were pretty boring all by thems...,0.0,13,8.727273,11,1953600,245907.2,3.32,282.05,0
4,Chasing Harry Winston,Lauren Weisberger,2008,5,4,Novice,Fiction,335.328,4.99,1042,...,"Better than Everyone Worth Knowing, but still ...",0.0,13,8.727273,11,1953600,245907.2,3.32,282.05,0

In [55]:
# number of unique titles
df_merged['title'].nunique()

321

In [56]:
def balanced_representative_reviews(group):
    group = group.sort_values('n_votes', ascending=False)
    expert = group[group['is_expert'] == 1].head(2)
    public = group[group['is_expert'] == 0]
    if len(public) >= 3:
        public = public.sample(n=3, random_state=42)
    else:
        public = public  
    return pd.concat([expert, public]).head(5)

In [57]:
df_reps_balanced = (
    df_merged.groupby(['title', 'author'], group_keys=False)
             .apply(balanced_representative_reviews)
)

/tmp/ipykernel_167391/2374780667.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(balanced_representative_reviews)

In [58]:
df_reps_balanced.shape

(1594, 23)

In [ ]:
strat_cols = ['Genre', 'Author_Rating', 'is_expert']

sample_df = df_reps_balanced.groupby(strat_cols, group_keys=False).apply(
    lambda x: x.sample(n=min(len(x), max(1, 2100 // len(df_reps_balanced) * len(x))), random_state=42)
)

print(f"Sau stratified sampling: {len(sample_df)} rows")

if len(sample_df) < 2100:
    remaining = df_reps_balanced.drop(sample_df.index) 
    needed = 2100 - len(sample_df)
    
    extra_n = min(needed, len(remaining))
    
    if extra_n > 0:
        extra = remaining.sample(n=extra_n, random_state=42)
        sample_df = pd.concat([sample_df, extra], ignore_index=False)
        print(f"Đã bổ sung thêm {extra_n} rows → Tổng: {len(sample_df)}")
    else:
        print("Không còn dữ liệu để bổ sung thêm!")
else:
    print("Đã đủ hoặc vượt 2100 rows từ stratified sampling.")

if len(sample_df) < 2100:
    final_extra = df_reps_balanced.sample(n=(2100 - len(sample_df)), random_state=43)
    sample_df = pd.concat([sample_df, final_extra])
    print(f"Bổ sung cuối cùng → Tổng: {len(sample_df)} rows")

sample_df = sample_df.reset_index(drop=True)

print("\nFinal sample shape:", sample_df.shape)
print("Phân bố is_expert:")
print(sample_df['is_expert'].value_counts(normalize=True))
print("\nPhân bố Genre:")
print(sample_df['Genre'].value_counts(normalize=True))

Sau stratified sampling: 1594 rows
Không còn dữ liệu để bổ sung thêm!
Bổ sung cuối cùng → Tổng: 2100 rows

Final sample shape: (2100, 23)
Phân bố is_expert:
is_expert
0    0.627619
1    0.372381
Name: proportion, dtype: float64

Phân bố Genre:
Genre
Fiction       0.81
Nonfiction    0.18
Children      0.01
Name: proportion, dtype: float64

/tmp/ipykernel_167391/13065526.py:5: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sample_df = df_reps_balanced.groupby(strat_cols, group_keys=False).apply(

In [60]:
sample_df.head()

,title,author,year,debut_rank,best_rank,Author_Rating,Genre,Publisher_Revenue,Sale_Price,Sales_Rank,...,review_text,n_votes,worst_rank,mean_rank,total_weeks,Units_Sold,Gross_Sales,average_rating,ratings_count,is_expert
0,Cryptonomicon,Neal Stephenson,1999,14,12,Excellent,Children,196.416,2.48,694,...,Numero uno for me; I've read it several times....,0.0,15,14.0,3,106738560,697276.8,4.25,60704.366197,0
1,High Five,Janet Evanovich,1999,14,13,Excellent,Children,402.930,5.55,745,...,"People aren't jumping bail, so Stephanie's wor...",0.0,15,14.0,2,86400,1343.1,4.17,7.000000,0
2,Cryptonomicon,Neal Stephenson,1999,14,12,Excellent,Children,196.416,2.48,694,...,"Intricately plotted, well written, and nerdly!",0.0,15,14.0,3,106738560,697276.8,4.25,60704.366197,0
3,Cryptonomicon,Neal Stephenson,1999,14,12,Excellent,Children,196.416,2.48,694,...,Two stars is probably less generous than I mig...,0.0,15,14.0,3,106738560,697276.8,4.25,60704.366197,0
4,High Five,Janet Evanovich,1999,14,13,Excellent,Children,402.930,5.55,745,...,"People aren't jumping bail, so Stephanie's wor...",0.0,15,14.0,2,86400,1343.1,4.17,7.000000,0

In [61]:
sample_df.columns

Index(['title', 'author', 'year', 'debut_rank', 'best_rank', 'Author_Rating',
       'Genre', 'Publisher_Revenue', 'Sale_Price', 'Sales_Rank',
       'publication_year', 'description', 'rating', 'review_text', 'n_votes',
       'worst_rank', 'mean_rank', 'total_weeks', 'Units_Sold', 'Gross_Sales',
       'average_rating', 'ratings_count', 'is_expert'],
      dtype='object')

In [65]:
final_column_order = [
    # 1. Metadata sách 
    'title',
    'author',
    'year',                   # Năm NYT bestseller
    'publication_year',       # Năm xuất bản
    'description',
    'Genre',
    
    # 2. Critical success (NYT rank + longevity + author reputation)
    'Author_Rating',          # Novice/Intermediate/Famous
    'total_weeks',            # Longevity trên NYT (rất quan trọng cho critical)
    'best_rank',              # Peak rank
    'worst_rank',             # Worst rank
    'mean_rank',              # Stability
    'debut_rank',             # Initial reception
    
    # 3. Popular success (từ Goodreads)
    'average_rating',         # Rating trung bình của sách
    'ratings_count',          # Số lượng rating (popular proxy)
    
    # 4. Review cá nhân + phân loại expert/public (cho labeling/NLP)
    'rating',                 # Rating của từng review
    'review_text',            # Nội dung review (core cho NLP)
    'n_votes',                # Số vote (dùng để tạo is_expert)
    'is_expert',              # Cột phân loại expert/public (vàng)
    
    # 5. Commercial success (target chính)
    'Units_Sold',             # Target chính
    'Gross_Sales',
    'Sale_Price',
    'Sales_Rank'
]

df = sample_df[final_column_order]
print(df.columns.tolist())

['title', 'author', 'year', 'publication_year', 'description', 'Genre', 'Author_Rating', 'total_weeks', 'best_rank', 'worst_rank', 'mean_rank', 'debut_rank', 'average_rating', 'ratings_count', 'rating', 'review_text', 'n_votes', 'is_expert', 'Units_Sold', 'Gross_Sales', 'Sale_Price', 'Sales_Rank']

In [66]:
df.columns

Index(['title', 'author', 'year', 'publication_year', 'description', 'Genre',
       'Author_Rating', 'total_weeks', 'best_rank', 'worst_rank', 'mean_rank',
       'debut_rank', 'average_rating', 'ratings_count', 'rating',
       'review_text', 'n_votes', 'is_expert', 'Units_Sold', 'Gross_Sales',
       'Sale_Price', 'Sales_Rank'],
      dtype='object')

In [67]:
df.to_csv(root_path + '/DATA/silver/silver_2.csv')