In [2]:
import pandas as pd
import numpy as np

In [3]:
root_path = r"/home/check/DATA/university/yr3, hk1/DS102 - ML for Statistic/Đồ án/goodread/DS102"

In [4]:
df = pd.read_csv(root_path + '/DATA/silver/silver_1.csv')

In [5]:
df.columns

Index(['title', 'author', 'year', 'total_weeks', 'first_week', 'debut_rank',
       'best_rank', 'week', 'rank', 'Author_Rating', 'Genre', 'Gross_Sales',
       'Publisher_Revenue', 'Sale_Price', 'Sales_Rank', 'Units_Sold',
       'publication_year', 'average_rating', 'ratings_count', 'description',
       'rating', 'review_text', 'n_votes', 'date_added'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2133244 entries, 0 to 2133243
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   title              object
 1   author             object
 2   year               int64
 3   total_weeks        int64
 4   first_week         object
 5   debut_rank         int64
 6   best_rank          int64
 7   week               object
 8   rank               int64
 9   Author_Rating      object
 10  Genre              object
 11  Gross_Sales        float64
 12  Publisher_Revenue  float64
 13  Sale_Price         float64
 14  Sales_Rank         int64
 15  Units_Sold         int64
 16  publication_year   int64
 17  average_rating     float64
 18  ratings_count      int64
 19  description        object
 20  rating             float64
 21  review_text        object
 22  n_votes            float64
 23  date_added         object
dtypes: float64(6), int64(9), object(9)
memory usage: 390.6+ MB

In [7]:
df.describe()

,year,total_weeks,debut_rank,best_rank,rank,Gross_Sales,Publisher_Revenue,Sale_Price,Sales_Rank,Units_Sold,publication_year,average_rating,ratings_count,rating,n_votes
count,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06,2.133244e+06
mean,1.999959e+03,2.212072e+01,8.211611e+00,2.934313e+00,7.236687e+00,4.775105e+03,2.463579e+03,4.480116e+00,5.254829e+02,8.432157e+03,2.006966e+03,3.819487e+00,7.390078e+04,3.627548e+00,1.053304e+00
std,1.718807e+01,1.757615e+01,4.255281e+00,3.078161e+00,4.551340e+00,1.174413e+04,7.089159e+03,3.220638e+00,4.005812e+02,1.508188e+04,9.066907e+00,2.922784e-01,4.983289e+04,1.282155e+00,9.320169e+00
min,1.932000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.049400e+02,0.000000e+00,9.900000e-01,1.000000e+00,1.060000e+02,1.880000e+03,0.000000e+00,0.000000e+00,0.000000e+00,-2.000000e+00
25%,1.986000e+03,9.000000e+00,4.000000e+00,1.000000e+00,3.000000e+00,4.138200e+02,0.000000e+00,9.900000e-01,2.020000e+02,4.180000e+02,2.002000e+03,3.650000e+00,1.513000e+04,3.000000e+00,0.000000e+00
50%,2.006000e+03,1.800000e+01,8.000000e+00,1.000000e+00,7.000000e+00,8.167500e+02,1.937520e+02,3.990000e+00,4.760000e+02,2.800000e+03,2.010000e+03,3.850000e+00,8.165200e+04,4.000000e+00,0.000000e+00
75%,2.013000e+03,3.300000e+01,1.100000e+01,4.000000e+00,1.100000e+01,1.850700e+03,8.080560e+02,6.990000e+00,8.230000e+02,5.427000e+03,2.014000e+03,4.030000e+00,1.113010e+05,5.000000e+00,0.000000e+00
max,2.020000e+03,1.650000e+02,1.600000e+01,1.600000e+01,1.700000e+01,4.779500e+04,2.867700e+04,1.798000e+01,1.272000e+03,5.896800e+04,2.102000e+03,5.000000e+00,1.753180e+05,5.000000e+00,1.041000e+03